doctype transitional
head
  meta(charset='UTF-8')
  meta(content='width=device-width, initial-scale=1' name='viewport')
  meta(name='x-apple-disable-message-reformatting')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(content='telephone=no' name='format-detection')
  title
  //if (mso 16)
    style(type='text/css').
      a {text-decoration: none;}
  //if gte mso 9
    style.
      sup { font-size: 100% !important; }
  //if gte mso 9
    xml
      o:officedocumentsettings
        o:allowpng
        o:pixelsperinch 96
.es-wrapper-color
  //if gte mso 9
    v:background(xmlns:v='urn:schemas-microsoft-com:vml' fill='t')
      v:fill(type='tile' color='#333333')
  table.es-wrapper(width='100%' cellspacing='0' cellpadding='0')
    tbody
      tr
        td.esd-email-paddings(valign='top')
          table.es-content.esd-header-popover(cellpadding='0' cellspacing='0' align='center')
            tbody
              tr
                td.es-adaptive.esd-stripe(align='center')
                  table.es-content-body(style='background-color: transparent;' width='600' cellspacing='0' cellpadding='0' align='center')
                    tbody
                      tr
                        td.esd-structure.es-p10(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='580' valign='top' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.es-infoblock.esd-block-text.es-m-txt-c(align='left')
                                          p
                                            | Put your preheader text here, 
                                            a.view(target='_blank' href='https://viewstripo.email') View in browser
          table.es-header(cellpadding='0' cellspacing='0' align='center')
            tbody
              tr
                td.esd-stripe(align='center')
                  table.es-header-body(style='background-color: #efefef;' width='600' cellspacing='0' cellpadding='0' bgcolor='#efefef' align='center')
                    tbody
                      tr
                        td.esd-structure.es-p20(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='560' valign='top' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-image.es-m-txt-c(align='center' style='font-size:0')
                                          a(href='https://viewstripo.email/' target='_blank')
                                            img(src='https://ndoniv.stripocdn.email/content/guids/CABINET_6ebdc9f620b6c98ec92e579217982603/images/57921524212317737.png' alt='' style='display: block;' width='139')
          table.es-content(cellspacing='0' cellpadding='0' align='center')
            tbody
              tr
                td.esd-stripe(align='center')
                  table.es-content-body(style='background-color: #3c2415;' width='600' cellspacing='0' cellpadding='0' bgcolor='#3C2415' align='center')
                    tbody
                      tr
                        td.esd-structure(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='600' valign='top' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-image(align='center' style='font-size:0')
                                          a(target='_blank')
                                            img.adapt-img(src='https://ndoniv.stripocdn.email/content/guids/CABINET_2ae045d3a44ee2ab834c53f08a1f9f4a/images/62941538983603908.png' alt='' style='display: block;' width='600')
                                      tr
                                        td.esd-block-image.es-p25b.es-p20r.es-p20l(align='center' style='font-size:0')
                                          a(target='_blank')
                                            img.adapt-img(src='https://ndoniv.stripocdn.email/content/guids/CABINET_2ae045d3a44ee2ab834c53f08a1f9f4a/images/90241538987709106.png' alt='Happy Thanksgiving Day' style='display: block;' title='Happy Thanksgiving Day' width='372')
                      tr
                        td.esd-structure(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='600' valign='top' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-text.es-p5b.es-p40r.es-p40l(bgcolor='#3C2415' align='center')
                                          p(style='color: #eb742a;')
                                            | To our dear users on this Thanksgiving day: thank you for trusting us and helping us grow into a huge success. Wishing you the happiness of good friends, the joy of a happy family, and the wonder of the holiday season. Have a memorable Thanksgiving!
                                      tr
                                        td.esd-block-image(align='center' style='font-size:0')
                                          a(target='_blank')
                                            img.adapt-img(src='https://ndoniv.stripocdn.email/content/guids/CABINET_2ae045d3a44ee2ab834c53f08a1f9f4a/images/58651538983631413.png' alt='' style='display: block;' width='600')
          table.es-content(cellspacing='0' cellpadding='0' align='center')
            tbody
              tr
              tr
                td.esd-stripe(align='center')
                  table.es-content-body(style='background-color: #ffffff;' width='600' cellspacing='0' cellpadding='0' bgcolor='#ffffff' align='center')
                    tbody
                      tr
                        td.esd-structure.es-p30t.es-p20r.es-p20l(style='background-repeat: no-repeat;' align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='560' valign='top' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-text(align='center')
                                          h1(style='color: #333333;') Popular Photos
                                      tr
                                        td.esd-block-image(align='center' style='font-size:0')
                                          a(target='_blank' href='http://#')
                                            img(src='https://ndoniv.stripocdn.email/content/guids/CABINET_6ebdc9f620b6c98ec92e579217982603/images/99301524564595313.png' alt='' style='display: block;' width='95')
                      tr
                        td.esd-structure.es-p20t.es-p20r.es-p20l(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='560' valign='top' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-image(align='center' style='font-size:0')
                                          a(target='_blank')
                                            img.adapt-img(src='https://ndoniv.stripocdn.email/content/guids/CABINET_e6dc7f3b1785ade1c125e93ac6182c03/images/11711538990502809.jpg' alt='' style='display: block;' width='560')
                      tr
                        td.esd-structure.es-p20t.es-p20r.es-p20l(align='left')
                          //if mso
                            table(width='560' cellpadding='0' cellspacing='0')
                              tr
                                td(width='270' valign='top')
                          table.es-left(cellspacing='0' cellpadding='0' align='left')
                            tbody
                              tr
                                td.esd-container-frame.es-m-p20b(width='270' align='left')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-image(align='center' style='font-size:0')
                                          a(target='_blank')
                                            img.adapt-img(src='https://ndoniv.stripocdn.email/content/guids/CABINET_e6dc7f3b1785ade1c125e93ac6182c03/images/17891538990465817.jpg' alt='' style='display: block;' width='270')
                          //if mso
                            td(width='20')
                            td(width='270' valign='top')
                          table.es-right(cellspacing='0' cellpadding='0' align='right')
                            tbody
                              tr
                                td.esd-container-frame(width='270' align='left')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-image(align='center' style='font-size:0')
                                          a(target='_blank')
                                            img.adapt-img(src='https://ndoniv.stripocdn.email/content/guids/CABINET_e6dc7f3b1785ade1c125e93ac6182c03/images/88181538996221450.jpg' alt='' style='display: block;' width='270')
                          //if mso
                      tr
                        td.esd-structure.es-p30t.es-p20r.es-p20l(style='background-repeat: no-repeat;' align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='560' valign='top' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-text(align='center')
                                          h1(style='color: #333333;')
                                            | Popular Collections
                                            br
                                      tr
                                        td.esd-block-image(align='center' style='font-size:0')
                                          a(target='_blank' href='http://#')
                                            img(src='https://ndoniv.stripocdn.email/content/guids/CABINET_6ebdc9f620b6c98ec92e579217982603/images/99301524564595313.png' alt='' style='display: block;' width='95')
                      tr
                        td.esd-structure.es-p20t.es-p30b.es-p20r.es-p20l(align='left')
                          //if mso
                            table(width='560' cellpadding='0' cellspacing='0')
                              tr
                                td(width='194' valign='top')
                          table.es-left(cellspacing='0' cellpadding='0' align='left')
                            tbody
                              tr
                                td.es-m-p0r.esd-container-frame.es-m-p20b(width='174' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-image(align='center' style='font-size:0')
                                          a(target='_blank' href='https://viewstripo.email/')
                                            img.adapt-img(src='https://ndoniv.stripocdn.email/content/guids/CABINET_2ae045d3a44ee2ab834c53f08a1f9f4a/images/43721538990920015.jpg' alt='' style='display: block;' width='174')
                                      tr
                                        td.esd-block-button(bgcolor='#c46800' align='center')
                                          span.es-button-border(style='background: #c46800 none repeat scroll 0% 0%;')
                                            a.es-button(href='https://viewstripo.email/' target='_blank' style='background: #c46800 none repeat scroll 0% 0%; border-color: #c46800;') Nature
                                td.es-hidden(width='20')
                          //if mso
                            td(width='173' valign='top')
                          table.es-left(cellspacing='0' cellpadding='0' align='left')
                            tbody
                              tr
                                td.esd-container-frame.es-m-p20b(width='173' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-image(align='center' style='font-size:0')
                                          a(target='_blank' href='https://viewstripo.email/')
                                            img.adapt-img(src='https://ndoniv.stripocdn.email/content/guids/CABINET_2ae045d3a44ee2ab834c53f08a1f9f4a/images/65001538991391353.jpg' alt='' style='display: block;' width='173')
                                      tr
                                        td.esd-block-button(bgcolor='#c46800' align='center')
                                          span.es-button-border(style='background: #c46800 none repeat scroll 0% 0%;')
                                            a.es-button(href='https://viewstripo.email/' target='_blank' style='background: #c46800 none repeat scroll 0% 0%; border-color: #c46800;') Card
                                      tr
                                        td.esd-block-image.es-p15t(align='center' style='font-size:0')
                                          a(target='_blank' href='https://viewstripo.email/')
                                            img.adapt-img(src='https://ndoniv.stripocdn.email/content/guids/CABINET_2ae045d3a44ee2ab834c53f08a1f9f4a/images/94061538991096242.jpg' alt='' style='display: block;' width='173')
                                      tr
                                        td.esd-block-button(bgcolor='#c46800' align='center')
                                          span.es-button-border(style='background: #c46800 none repeat scroll 0% 0%;')
                                            a.es-button(href='https://viewstripo.email/' target='_blank' style='background: #c46800 none repeat scroll 0% 0%; border-color: #c46800;') Autumn
                          //if mso
                            td(width='20')
                            td(width='173' valign='top')
                          table.es-right(cellspacing='0' cellpadding='0' align='right')
                            tbody
                              tr
                                td.esd-container-frame(width='173' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-image(align='center' style='font-size:0')
                                          a(target='_blank' href='https://viewstripo.email/')
                                            img.adapt-img(src='https://ndoniv.stripocdn.email/content/guids/CABINET_2ae045d3a44ee2ab834c53f08a1f9f4a/images/50141538991840016.jpg' alt='' style='display: block;' width='173')
                                      tr
                                        td.esd-block-button(bgcolor='#c46800' align='center')
                                          span.es-button-border(style='background: #c46800 none repeat scroll 0% 0%;')
                                            a.es-button(href='https://viewstripo.email/' target='_blank' style='background: #c46800 none repeat scroll 0% 0%; border-color: #c46800;') Turkey
                          //if mso
          table.es-footer.esd-footer-popover(cellpadding='0' cellspacing='0' align='center')
            tbody
              tr
                td.esd-stripe(align='center')
                  table.es-footer-body(width='600' cellspacing='0' cellpadding='0' align='center')
                    tbody
                      tr
                        td.esd-structure.es-p20t.es-p10r.es-p10l(align='left')
                          table(width='100%' cellspacing='0' cellpadding='0')
                            tbody
                              tr
                                td.esd-container-frame(width='580' valign='top' align='center')
                                  table(width='100%' cellspacing='0' cellpadding='0')
                                    tbody
                                      tr
                                        td.esd-block-social.es-p10b.es-m-txt-c(align='center' style='font-size:0')
                                          table.es-table-not-adapt.es-social(cellspacing='0' cellpadding='0')
                                            tbody
                                              tr
                                                td.es-p10r(valign='top' align='center')
                                                  a(target='_blank' href='')
                                                    img(title='Instagram' src='https://ndoniv.stripocdn.email/content/assets/img/social-icons/rounded-white-bordered/instagram-rounded-white-bordered.png' alt='Inst' width='32')
                                                td.es-p10r(valign='top' align='center')
                                                  a(target='_blank' href='')
                                                    img(title='Youtube' src='https://ndoniv.stripocdn.email/content/assets/img/social-icons/rounded-white-bordered/youtube-rounded-white-bordered.png' alt='Yt' width='32')
                                                td.es-p10r(valign='top' align='center')
                                                  a(target='_blank' href='')
                                                    img(title='Pinterest' src='https://ndoniv.stripocdn.email/content/assets/img/social-icons/rounded-white-bordered/pinterest-rounded-white-bordered.png' alt='P' width='32')
                                                td(valign='top' align='center')
                                                  a(target='_blank' href='')
                                                    img(title='Facebook' src='https://ndoniv.stripocdn.email/content/assets/img/social-icons/rounded-white-bordered/facebook-rounded-white-bordered.png' alt='Fb' width='32')
                                      tr
                                        td.esd-block-text.es-p10t.es-m-txt-c(align='center')
                                          p You&apos;re receiving this email because you asked us about regular newsletter.
                                          p &copy;2018 Photography Company | 885 Columbus Ave., New York, NY 10025
                                      tr
                                        td.esd-block-text.es-p20t.es-m-txt-c(align='center')
                                          p
                                            a(target='_blank' href='https://viewstripo.email') Privacy Policy
                                            |  | 
                                            a.unsubscribe(target='_blank' href='') Unsubscribe
